<ul>
  <li>
    <a href="<%= lists_path %>" class="logo">
      <%= image_tag '66356c25ce98cb12993249e21742b129.png', alt: 'Logo', style: 'width: 30px; height: auto;' %>
    </a>
  </li>
  <li style="float:right"><a class="active" href="#about"><%= link_to "Create List", new_list_path %></a></li>
</ul>
