<%= render 'navbar' %>

<div class="cards">
  <% @lists.each do |list| %>
    <a href="<%= list_path(list) %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg); text-decoration: none;">
      <%= list.name %>
    </a>
  <% end %>
</div>
