<%= render 'navbar' %>

<div class="page-name">
  <h3>Add List</h3>
</div>

<div class="form">
  <div class="form-size">
    <%= simple_form_for(@list) do |t| %>
      <%= t.input :name %>
      <%= t.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
