.movies-container {
  display: flex;
}

.movie-display {
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards-container {
  width: 100%;
  padding: 50px;
  color: white;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 4 equal-width columns */
  gap: 13px; /* Sets equal gap between grid items */
}

.movie-poster {
  width: 100%; /* Make the poster width fill the column */
  height: 345px; /* Maintain aspect ratio */
  border-radius: 10px;
}
