.btn-dark-blue {
  background-color: #2F3441;
  border-color: #2F3441;
  color: white;
}

.btn-dark-blue:hover {
  background-color: #1b2431; /* Adjust hover color if needed */
  border-color: #1b2431; /* Adjust hover border color if needed */
  color: white;
}
