.container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  flex-direction: column;
  margin-left: 50px;
  margin-top: 70px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: #292C34;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  width: 50%;
}

.trash-icon {
  margin-left: auto;
  text-decoration: none;
  padding-right: 15px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: fill;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-product .card-product-infos {
  padding: 16px;
  flex: 1;
  text-decoration: none;
}

.page-name h3 {
  margin-left: 60px;
  color: white;
  border-left: 3px solid #00ACC1;
  padding-left: 10px;
}

.page-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 30px;
}

.create-list-btn {
  margin-top: 10px;
  margin-right: 60px;
}

.no-underline {
  text-decoration: none;
}

.create-list.btn.btn-primary {
  width: 123px;
  height: 41px;
  border-radius: 13px;
  padding: 8px;
  margin-right: 40px;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}
